{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src/"]],
        "extensions": [".ts", ".js", ".tsx"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error"]
  },
  "globals": {
    "window": true,
    "document": true
  }
}
