.animation-preview-container {
  position: relative;
  margin: 10px 15px;

  background-image: url(~/assets/canvas-bg--dark.png);
  background-repeat: repeat;

  .animation-preview {
    $animation-preview-size: 180px;

    height: $animation-preview-size;
    width: $animation-preview-size;

    background-size: contain;
    background-repeat: no-repeat;
  }

  .animation-preview-controls {
    height: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #2d2d2d;
  }
}
